<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id='app'>
        <!-- v-if v-else 的用法 可使用变量 也可使用 === 表达式 -->
        <span v-if="type === 'a'">true 我等于a了</span>
        <span v-else-if="type === 'b'">true 我等于b了</span>
        <span v-else>啥也不是</span>
        <input type="text" v-model="type">
        <br>
        <br>
        <!-- v-if v-show 的区别 -->
        <div v-show="type === 'a'">a就show</div>
        <div v-show="type === 'b'">b就show</div>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                type: 'a'
            }
        })
    </script>
</body>

</html>